@{
    ViewBag.Title = "BoGoodSki - Steve Bogucki";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">
            BoGoodSki
        </h1>
        <img src="~/Content/Images/SteveAndMom.JPG" width="350" height="225" alt="Steve and Mom" />
        <p></p>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row text-center">
    <p>
        This is Steve. Well, Steve is on the right. His lovely mother to the left.  
    </p>
    <p>
        Steve loves C#.  He also loves his dog, running, California ... and, of course, his lovely mother (and father (not pictured!)).
    </p>
    <p>
        This site will eventually be Steve's portfolio.  Well, portfolio slash puppy photo gallery.  Until then, it's a photo. And some text.
    </p>
    <p>
        At least it's not Lorem Ipsum (amiright?!?!)
    </p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@