@{
    ViewBag.Title = "BoGoodSki - Steve Bogucki";
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h1 class="text-center" id="headerImage">
            BoGoodSki
        </h1>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-12"></div>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4" id="imageBox">
        <img src="~/Content/Images/SteveAndMom.JPG" class="img-responsive center-block" width="350" height="225" alt="Steve and Mom" />
        <p></p>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
</div>

<div class="row text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4" id="introText">
        <p>This is Steve.  Well, Steve is on the right.  His lovely Mother to the left.  Not pictured: his father. Also lovely.</p>

        <p>This is Steve’s portfolio.  It’s a bit of a work in progress…</p>

        <p>Click to learn more about Steve:</p>
        <br/>
        { <a href="../Home/Contact" style="color:black">Click Here.</a> }
        <br/>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-3 invisiBlocks">
    </div>
    <div class="col-md-3 linkBlock">
        <h3>
            { <a href="../Home/Algorithms" style="color: black">Algorithms.</a> }
        </h3>
    </div>
    <div class="col-md-3 linkBlock">
        <h3>
            { <a href="http://angular4portfolio.s3-website-us-west-1.amazonaws.com/" style="color: black" target="_blank">Angular (4/5).</a> }
        </h3>
    </div>
    <div class="col-md-3 invisiBlocks">
    </div>
</div>

<div class="row">
    <div class="col-md-3 invisiBlocks">
    </div>
    <div class="col-md-3 linkBlock">
        <h3>
            { <a href="../Home/Jquery" style="color: black">jQuery.</a> }
        </h3>
    </div>
    <div class="col-md-3 linkBlock">
        <h3>
            { <a href="../Home/WeatherClient" style="color: black">my Weather.</a> }
        </h3>
    </div>
    <div class="col-md-3 invisiBlocks">
    </div>
</div>


@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@