body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}
/*  The blue green gradient in the header on the main page*/
#introText {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #77C9D4, #57BC90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #77C9D4, #57BC90); /* Standard syntax */
    border-style: solid;
    border-width: thin;
    border-color: #A5A5AF;
    font-family: 'montereyFLF';
}

/*  Styling behind the heading on the source code page */
#sourceHeading {
    background-color: #77c9d4;
    margin-top: 10px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 355px;
    font-family: "Trebuchet MS";
}

/*  Styling behind the pic of the souce code on the source code page */
#sourcePic {
    background-color: #015249;
    margin-top: 10px;
    width: auto;
}

/*  Styling behind words on source code page */
#sourceWords {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #77C9D4, #57BC90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #77C9D4, #57BC90); /* Standard syntax */
    margin-top: 10px;
    width: 355px;
}

@font-face {
    font-family: 'montereyFLF';
    src: url('/fonts/MontereyFLF.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'bakery';
    src: url('/fonts/bakery.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'veteran-typewriter';
    src: url('/fonts/veteran typewriter.ttf');
    font-style: normal;
}

/*  Styling behind the text on the main page just under the primary image */
#headerImage {
    background-color: #57BC90;
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-family: 'bakery';
}

/*  Styling for the links on the main page */
.linkBlock {
    background: lightgray; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #015249, #A5A5AF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #015249, #A5A5AF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #015249, #A5A5AF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #015249, #A5A5AF); /* Standard syntax */
    height: 100px;
    margin-right: 5px;
    margin-top: 5px;
    font-family: 'veteran-typewriter';
    padding-top: 15px;
    width: 190px;
    text-align: center;
}

/*  Styling for blank link boxes main page */
/*.linkBlockBlank {
    background: lightgray; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left top, #015249, #A5A5AF); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, #015249, #A5A5AF); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, #015249, #A5A5AF); /* For Firefox 3.6 to 15 */
    /*  background: linear-gradient(to bottom right, #015249, #A5A5AF); /* Standard syntax */
    /*  height: 100px;
    margin-right: 5px;
    margin-top: 5px;
    font-family: 'veteran-typewriter';
    padding-top: 15px;
    width: 190px;
    text-align: center;
}*/

/*  Override the default navbar background color*/
.navbar-inverse {
    background-color: white !important;
}

/*  Styling for box behind primary image on main page*/
#imageBox {
    background-color: #015249;
    border-style: solid;
    border-width: thick;
    border-color: #A5A5AF;
}

/*  Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*  Styling for the header on the Algorithm page */
#algoHeader {
    background-color: #77c9d4;
    margin-top: 10px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-family: "Trebuchet MS";
}

/*  Styling for text under the header on the Algorithms page */
#algoText {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #77C9D4, #57BC90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #77C9D4, #57BC90); /* Standard syntax */
    margin-top: 10px;
    font-family: 'montereyFLF';
}

/*  Styling for the boxes behind each Algorithm thumbnail on the Algorithms page */
#algoBox {
    background-color: #a5a5af;
    padding-top: 5px;
    margin-right: 5px;
}

/*  Styling on the header on the jQuery page */
#jqueryHeader {
    background-color: #77c9d4;
    margin-top: 10px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-family: "Trebuchet MS";
    width: 350px; 
}

/*  Styling on the jQuery textbox under the header */
#jqueryText {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #77C9D4, #57BC90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #77C9D4, #57BC90); /* Standard syntax */
    margin-top: 10px;
    font-family: 'montereyFLF';
    width: 350px;
}

/*  Styling behind header on Weather page */

#weatherHeader {
    background-color: #A5A5AF;
    margin-top: 10px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 400px;
    font-family: "Trebuchet MS";
    margin-bottom: 10px;
}

#weatherText {
    background-color: #57bc90;
    font-family: 'montereyFLF';
    width: 450px;
    margin-bottom: 10px;
}

#weatherResults {
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #77C9D4, #57BC90); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #77C9D4, #57BC90); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #77C9D4, #57BC90); /* Standard syntax */
    width: 450px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
